APP_NAME=Financial API
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=financial_api
DB_USER=postgres
DB_PASS=postgres_admin



JWT_SECRET=adfhhg3#@$asDA3ASD32$@asd@#1asD3aSDC3AEa#daD#!AsD#asdqarewas3r#ASio(OAo
JWT_EXPIRATION_TIME=5min
JWT_ISSUER=Financial API

BCRYPT_FACTOR=12
